body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

/* header section style */

header {
    background: rgba(229, 84, 115, 0.10);
    height: 550px;
    display: flex;
    gap: 70px;
    padding: 50px 180px 0px 180px;
}

.header-title {
    padding-top: 50px;
    color: #272727;
    font-size: 47px;
    font-weight: 450px;
    padding-bottom: 0px;
}

.header-para {
    color: rgba(39, 39, 39, 0.60);
    font-size: 11px;
    font-weight: 400px;
    width: 89%;
    padding-bottom: 15px;
    line-height: 1.5;
}

.btn-primary {
    border-radius: 8px;
    background: #E55473;
    padding: 16px 33px;
    border: none;
    color: white;
    font-weight: bold;
}

.feature {
    text-align: center;
    margin-top: 130px;
    font-size: 30px;
    color: #272727;
}

.feature-para {
    text-align: center;
    width: 500px;
    margin: auto;
    color: rgba(39, 39, 39, 0.60);
    font-size: 14px;
}

.pink-flower {
    display: flex;
    margin: 40px 180px;
    gap: 15px;
}

.flower-1 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding: 80px 50px;
    height: 200px;
}

.flower-2 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding: 80px 15px;
    height: 200px;
}

.flower-3 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    padding: 80px 60px;
    height: 200px;
}

.flower-para {
    text-align: center;
    text-decoration: underline;
    font-size: 15px;
    font-weight: bold;
    color: #272727;
    margin: 25px;
}

.optional {
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    height: 220px;
    margin: 140px 180px 140px 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 150px;
    text-align: center;
}

.optional-para {
    text-align: center;
    color: rgba(39, 39, 39, 0.80);
    font-weight: 450;
}

.bonus {
    height: 350px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    padding: 70px 300px 0px 300px;
    display: flex;
    gap: 140px;
    text-align: center;
}

.bonus-title {
    padding-top: 40px;
    font-size: 20px;
    font-weight: 1000;
    font-family: Arial, Helvetica, sans-serif;
    color: #272727;
}

#btn-sign {
    margin-top: 10px;
}

.bonus-para {
    color: rgba(39, 39, 39, 0.60);
    font-size: 12px;
}

.display-flower {
    margin-top: 40px;
    padding: 0px 175px;
    display: flex;
    gap: 15px;

}

.off {
    color: #E55473;
}

.display-flower img {

    height: 260px;
    width: auto;
}

.last-section {
    height: 320px;
    margin: 100px 180px;
    background-image: url(images/Rectangle\ 9.png);
    background-size: cover;
    text-align: center;

}

input[type="email"] {
    width: 45%;
    height: 45px;
    border-radius: 5px;
    border: none;
    margin-right: 8px;
}

.last-section h1 {
    padding-top: 80px;
    font-size: 30px;
    margin-bottom: 0px;
    color: #272727;
}

.last-section p {
    margin-top: 12px;
    margin-bottom: 30px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 15px;
}

footer{
    height: 340px;
    background: #111010;
    

}

footer h2{
    text-align: center;
    color: #FFF;
    padding-top: 100px;
    font-size: 30px;

}

.fmid{
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    width: 530px;
    margin: auto;
    font-size: 14px;
    margin-bottom: 25px;
}

.flast{
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 12px;
}